@{
    ViewBag.Title = "About MIS 4200";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello, I am Alex Cho a senior here at Ohio University. This is my last semester here and I cannot wait to gradute. Professor Luce teaches this course and I cannot wait to gain as much knowledge about coding as possible. </p>
