@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alex Cho<br />
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    740.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="dc929314@ohio.edu">Support@example.com</a><br />
    
</address>