@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Movies!</h1>
    <p class="lead">This is a website built with Visual Studio, and GitHub. I am Alex Cho and currently taking MIS 4200 with Professor Luce.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>System Development 2 links</h2>
        <p>

        </p>
        @Html.ActionLink("Students", "Index", "Students")<br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
        @Html.ActionLink("CourseDetails", "Index", "CourseDetails")


    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        <p>For this application we are using GitHub! A very helpful tool. </p>
        
    </div>
    <div class="col-md-4">
        <h2>Enjoy</h2>
        <p>We hope this website is easy to use and helpful for those who visit the site.</p>
        
    </div>
</div>